ircbot/dumps/*.xml
!ircbot/dumps/loglan.xml
!ircbot/dumps/laadan.xml
!ircbot/dumps/guaspi.xml
!ircbot/dumps/toki.xml
!ircbot/dumps/zamenhofo.xml
ircbot/dumps/*.pdf
ircbot/tatoeba*
ircbot/dumps/*.sql
i/data/*.*
