<!DOCTYPE html>
<html
  lang="{{lang}}"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:og="http://ogp.me/ns#"
  xmlns:fb="https://www.facebook.com/2008/fbml"
>
  <head>
    <meta charset="UTF-8" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-45171210-6"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())

      gtag("config", "{{{GA_MEASUREMENT_ID}}}", {
        linker: {
          domains: ["{{{SUTYSISKU_URL}}}"],
        },
        forceSSL: true,
      })
    </script>
    <script defer>
      ArcBTracker = {
        fire: function (env) {
          if (typeof env == 'undefined') {
            env = {}
          }

          env.u = document.location.href
          env.bw = window.innerWidth
          env.bh = window.innerHeight

          if (document.referrer && document.referrer != '') {
            env.ref = document.referrer
          }

          env.rnd = Math.floor(Math.random() * 10e12)

          var params = []
          for (var key in env) {
            if (env.hasOwnProperty(key)) {
              params.push(
                encodeURIComponent(key) + '=' + encodeURIComponent(env[key])
              )
            }
          }

          var img = new Image()
          img.src = 'https://jbotcan.org:3021/acceptor.gif?' + params.join('&')
        },
      }
    </script>
    <title>{{title}}</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="{{mupliskariralju}}" />
    <meta name="Description" content="{{ogtitle}}" />
    <meta property="og:title" content="{{ogtitle}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ogurl}}" />
    <meta property="og:image" content="../pixra/sutysisku2015-06-22.png" />
    <meta property="og:site_name" content="{{ogtitle}}" />
    <meta property="fb:app_id" content="191051864394489" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@Jbotcan" />
    <!--<meta property="al:android:url" content="la sutysisku://" />
	<meta property="al:android:app_name" content="{{ogtitle}}" />
	<meta property="al:android:package" content="{{ogtitle}}" />
	<meta property="al:windows_phone:app_name" content="{{ogtitle}}" />
	<meta property="al:windows_phone:app_id" content="" />
	<meta name="apple-itunes-app" content="app-id=" />
	<meta name="google-play-app" content="app-id=" />-->
    <meta name="apple-mobile-web-app-title" content="{{ogtitle}}" />
    <link rel="apple-touch-icon" sizes="192x192" href="../pixra/192.png" />
    <link rel="apple-touch-icon" sizes="512x512" href="../pixra/512.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="../pixra/57.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="../pixra/114.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="../pixra/72.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="../pixra/144.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="../pixra/120.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="../pixra/152.png" />
    <link rel="icon" type="image/png" href="{{icon32}}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{icon16}}" sizes="16x16" />
    <meta name="application-name" content="{{ogtitle}}" />
    <meta name="msapplication-TileColor" content="{{mupliskariralju}}" />
    <meta name="msapplication-TileImage" content="../pixra/144.png" />
    <meta property="og:description" content="{{opdescr}}" />
    <link rel="shortcut icon" href="{{favicon}}" />
    <link
      rel="search"
      type="application/opensearchdescription+xml"
      href="{{searchurl}}"
      title="{{searchtitle}}"
    />
    <link rel="stylesheet" href="./index.css?detri={{now}}" />
    <link rel="manifest" href="../manifest.json" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"
      id="MathJax-script"
    ></script>
    <script defer>
      window.MathJax = {
        options: {
          menuOptions: {
            settings: {
              assistiveMml: false, // true to enable assitive MathML
              collapsible: false, // true to enable collapsible math
              explorer: false, // true to enable the expression explorer
            },
          },
          renderActions: {
            addMenu: [],
            checkLoading: [],
          },
        },
      }
    </script>
    <!-- <script defer src="../assets/scripts/aws-sdk.min.js"></script> -->
    <script defer src="./index.js?detri={{now}}"></script>
    <script defer src="./coi.js"></script>
    <script defer src="./bangu.js?sisku={{now}}"></script>
  </head>

  <body class="body-sutysisku">
    <div id="galtu-dasri" class="kampu-dasri cnano-dasri noselect">
      <form id="se-vasru-lo-galtu-dasri" onsubmit="return false" novalidate>
        <div>{{{titlelogo}}}</div>
        <div id="kicne1"></div>
        <input
          aria-label="{{cnano}}"
          id="ciska"
          type="text"
          name="focus"
          required
          placeholder="{{bangusisku}}"
          autocorrect="off"
          autocapitalize="off"
          autocomplete="false"
        />
        <button aria-label="clear" id="clear" type="reset"></button>
      </form>
    </div>
    <div id="loading" class="noselect">
      <div id="bangu_loading" class="loading_elems"></div>
      <div id="cpacu" class="loading_elems">
        <span id="kernelo_lo_cpacu"></span>
      </div>
    </div>
    <div id="contentWrapper">
      <div id="content" class="content">
        <button
          onclick="window.switchBorderScroll();"
          id="scrollToTop"
        ></button>
        <div class="content-panel">
          <div id="sidju" class="sidju sidju-top ralju noselect">
            <div id="citri" class="citri"></div>
            <div id="leitutci" class="xp-btn-list">
              <!-- <a class="tutci velcusku-tutci" id="velcusku">{{velcusku}}</a> -->
              <button class="xp-btn ralju-tutci" id="catni">{{catni}}</button>
              <button class="xp-btn ralju-tutci" id="cnano">{{cnano}}</button>
              <button class="xp-btn ralju-tutci" id="rimni">{{rimni}}</button>
              <!-- <a class="xp-btn ralju-tutci" id="arxivo">{{arxivo}}</a> -->
            </div>
          </div>
          <div id="rectu">
            <div id="drata" style="text-align: center"></div>
            <div id="descr">
              <div class="term termouter" data-jufra="bangudesc">
                {{{bangudesc}}}
              </div>
              <div class="term termouter">
                <h1 id="pronunciation" style="font-weight: bold">
                  <span data-jufra="pron_guide">{{pron_guide}}</span>
                </h1>
                <div>. , a b c d e f g ' i j k l m n o p r s t u v x y z</div>
                <audio id="audio"></audio>
              </div>
            </div>
            <div id="outp"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="velsku" class="noselect">
      <a id="velsku_sebenji" href="https://lojban.pw/articles/live_chat/"></a>
    </div>

    <div id="jsModal" class="modal">
      <div class="modal__overlay jsOverlay"></div>
      <div id="modal__container" class="modal__container"></div>
    </div>
    <div
      id="report_feedback_main"
      data-jufra="window.report_feedback_main"
      class="xp-btn tutci-dizlo"
    >
      {{feedback}}
    </div>
  </body>
</html>
